<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CoPla">

<listeners>
<listener class-name="com.Copla.utilitiesFile.Reporting"/>

</listeners>

  <test name="CoPlaAutomation">
     <parameter name="browser" value="chrome" />
       <classes>
  <!--     <class name="com.Copla.testCases.TC_LoginTest_001"/>
      <class name="com.Copla.testCases.TC_DeliveryCalendarTest_002"/>
      <class name="com.Copla.testCases.TC_LadaTest_003"/> -->
      <class name="com.Copla.testCases.TC_Paivi2Test_004"/>
      
    
    </classes>
  
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
